<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <% date = Time.now %>
    <%= "The date is #{date.strftime("%A")}, #{date.strftime("%B")} #{date.strftime("%d")}, #{date.year}" %>
  </body>
</html>
